nav {
  background-color: #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

a {
  display: block;
  color: #00f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover {
  background-color: #e6e6e6;
  color: #00f;
}
body {
    background-color: #F7F7F7;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .post {
    background-color: #FFFFFF;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 2px 2px 4px #888888;
    width: 30%;
  }
  
  .post img {
    max-width: 100%;
    margin-bottom: 10px;
  }
  
  .post h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .post .date {
    font-style: italic;
    margin-bottom: 10px;
  }
  
  .post .excerpt {
    margin-bottom: 10px;
  }
  
  .post .list {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 20px;
  }
  
  .post .list li {
    margin-bottom: 10px;
  }